# macOS
.DS_Store

# Python
__pycache__/
venv/
*.pyc
*.pyo
*.pyd
.env
.pytest_cache/
.vscode/
voice_files/

# Flutter / Dart
mobile_app/.dart_tool/
mobile_app/build/
mobile_app/.pub-cache/
mobile_app/.pub/
mobile_app/app.so